{{#d-modal-body id="edit-category-group-modal" title=""}}

  <section class="field">
    <div class="control-group">
      <label>
        {{}}
        {{input type="text" value=categoryGroupName}}
      </label>
    </div>
  </section>

{{/d-modal-body}}

<div class="modal-footer">
  {{d-button
    disabled=disabled
    action="save"
    class="btn-large btn-primary"
    label=""}}
</div>